body {
  width: 1024px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background: #ddd;
}

header {
  position: relative;
  display: block;
  clear: both;
  color: lighten(#333, 15%);
}

.bg-grey {
  background: #eee;
}

#main-header {
  overflow: hidden;
  padding: 1em 1em 0 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  background: #fff;
}

#main-header {
  box-shadow: 1px 1px 5px #CCC;
}
.info {
  display: block;
  width: 78%;
  float: right;
}

@media (max-width: 768px) {
  body {
    width: inherit;
    margin: 0;
  }

  .info {
    width: 100%;
    float: left;
  }

  #main-header {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
  }

  .rating,
  .reviews,
  .followers {
    display: block;
    float: left;
    width: 100%;
    p, li {
      margin-left: 1em;
    }
  }

  .rating,
  .reviews,
  .followers,
  .info-user {
    li {
      i {
        vertical-align: middle;
      }
    }
  }

  form {
    margin: 0 auto 2em;
  }

  $color: blue;

  input {
    display: block;
    width: 250px;
    border: none;
    margin-top: 1.5em;
    margin-left: 1em;
    padding: 20px 0;
    border-bottom: solid 1px $color;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
    background-position: -250px 0;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    color: darken($color, 20%);
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      &::-webkit-input-placeholder {
        color: $color;
        font-size: 11px;
        transform: translateY(-20px);
        visibility: visible !important;
      }
    }
  }
}
