.info-user {
  // padding: 1em 0 0 1em;
  display: block;
  float: left;
  width: 100%;
  li {
    margin-left: 1em;
    margin-bottom: .7em;
    i {
      margin-right: .5em;
      font-size: 23px;
    }
  }
}

@media (min-width: 768px) {
  .info-user {
    ul {
      transform: rotate(180deg);
      li {
        margin-left: 0;
        transform: rotate(-180deg);
      }
    }
  }
}
