#main-header {
  .logout {
    p {
      margin: 1em;
      font-size: 12px;
      a {
        font-weight: bold;
        float: right;
        padding: .5em 1em;
        text-decoration: none;
        text-transform: uppercase;
        color: blue;
        border: 1px solid blue;
        border-radius: 3px;
      }
    }
  }
}

@media (max-width: 768px) {
  #main-header {
    .logout {
      width: 100%;
      display: block;
      float: left;
      margin-bottom: 2em;
      p {
        font-size: 15px;
        a {
          text-transform: none;
          border: 0px;
        }
      }
    }
  }
}