main {
  .hidden {
    display: none;
  }
  #content {
    width: 100%;
    display: block;
    float: left;
    // padding: 1em 0 2em 1em;
    background: #fff;

    .about, .settings {
      h2 {
        margin: 1em;
        font-size: 18px;
      }
    }

    .about {
      h3 {
        margin: 1em;
        font-weight: bold;
      }
      h3 span, ul li span {
        background: none;
      }
      .pencil-edit {
        display: none;
      }
      .actions {
        float: right;
        padding: 5px;
        margin-right: 1em;
        #about-cancel, #about-save {
          background: #fff;
          font-size: 13px;
          font-weight: bold;
          color: blue;
          text-decoration: none;
          margin-left: 2em;
        }
      }
      .location {
        margin-top: 1em;
        margin-left: 1em;
        color: #333;
        li {
          margin-bottom: .7em;
          i {
            margin-right: .5em;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    #content {
      .about {
        h3 span, ul li span {
          background: #eee;
        }
        .pad {
          padding: .5em;
        }
        .pencil-edit {
          display: inline;
          background: darken(#eee, 5%);
          &:hover {
            background: blue;
            color: #eee;
          }
        }
      }
    }
  }
}
