#main-header {
  .main-menu {
    width: 100%;
    display: block;
    float: left;
    // padding: 0;
    margin-top: 1em;
    .menu {
      padding: 0;
      overflow: auto;
      white-space: nowrap;
      background: #eee;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-transform: uppercase;
      a {
        display: inline-block;
        height: 30px;
        margin: 1em 10px 0 10px;
        text-align: center;
        text-decoration: none;
      }
      .active {
        border-bottom: 3px solid blue;
      }
    }
    ::-webkit-scrollbar {
        display: none;
    }
  }
}

@media (min-width: 768px) {
  #main-header {
    .main-menu {
      width: 79%;
      float: right;
      margin-top: 2.8em;
      .menu {
        background: none;
        border-top: 1px solid #ccc;
        border-bottom: 0;
      }
    }
  }
}
