.profile-image {
  margin: 1em auto 0 auto;
  overflow: hidden;
  width: 125px;
  height: 125px;
  img {
    margin: 0 0 0 -110px;
  }
}
.profile-name {
  text-align: center;
  margin-top: .7em;
  margin-bottom: 1em;
  h1 {
    font-size: 19px;
  }
}

@media (min-width: 768px) {
  .profile-image {
    display: block;
    float: left;
    clear: left;
    margin: 1em auto 15px auto;
    overflow: hidden;
    width: 200px;
    height: 200px;
    img {
      margin: 0 0 0 -70px;
    }
  }
  .profile-name {
    display: block;
    float: left;
    margin-left: 1em;
    color: #333;
    font-weight: bold;
  }
}