.rating {
  i {
    font-size: 23px;
    color: blue;
  }
}

@media (min-width: 768px) {
  .rating-reviews-group {
    float: right;
    .rating {
      display: block;
      float: left;
      clear: right;
      i {
        color: lighten(#333, 20%);
      }
    }
    .reviews {
      display: block;
      float: right;
      clear: right;
      margin-top: 5px;
      margin-left: 2em;
    }
  }
}